flows2.json
[
    {
        "id": "bb5cfe25816b6e91",
        "type": "tab",
        "label": "Flow2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b5e32383b8e195d",
        "type": "inject",
        "z": "bb5cfe25816b6e91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "8c4ea2e97270d44d"
            ]
        ]
    },
    {
        "id": "7733ef448e551c74",
        "type": "debug",
        "z": "bb5cfe25816b6e91",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "8c4ea2e97270d44d",
        "type": "function",
        "z": "bb5cfe25816b6e91",
        "name": "",
        "func": "\n// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "7733ef448e551c74",
                "7ddcdc5b9c74383f"
            ]
        ]
    },
    {
        "id": "7ddcdc5b9c74383f",
        "type": "ui_text",
        "z": "bb5cfe25816b6e91",
        "group": "432f3c8a087c7c0e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a54f052c3c80a7e",
        "type": "ui_spacer",
        "z": "bb5cfe25816b6e91",
        "name": "spacer",
        "group": "40dd7494c79a135a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "432f3c8a087c7c0e",
        "type": "ui_group",
        "name": "FECHA - GRUPO",
        "tab": "3f9ed2de8e113b20",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f9ed2de8e113b20",
        "type": "ui_tab",
        "name": "FECHA EN EL TAB",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]